.endGif{
    width: 8vw;
    margin: 20px;
} 
.playButton {
    background-color: #64FFE5;
    margin: 10px;
    padding: 10px;
    border-radius: 20px;

    & a {
        color: #282c34;
    }
    & a:hover{
        text-decoration: none;
        color: #282c34;
    }
}